#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    flex-wrap: wrap;  
    /* align-items: baseline; */
    /* align-content: center; */
}

#blue{
    /* flex-basis: 400px; */
    flex-grow: 1;
    max-width: 400px;
}

#org{
    align-self: flex-start;
    /* flex-basis: 50px; */
    flex-grow: 1;
}
h1{
    text-align: center;
}
#container div{
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}