 div{
    height: 200px;
    width: 500px;
    background-color: yellow; 
    border-width: 2px;
    border-style:solid; 
    border: 2px solid black; 
    border-left-color:blue;
    border-left-style:dashed;
    border-right:5px double orangered;
    border-radius: 15px;
    padding-top: 20px;
    margin: 25px; 
}
button{
    background-color: black;
    color: white; 
    border-width: 5px;
    border-style: solid;
    border-color: red; 
    border: 5px solid red;
    border-radius: 10px;
    /* padding:25px;
    padding: 10px 25px;
    padding: 10px 20px 30px;  */
    padding: 10px 30px 0px 30px;
    /* margin: 50px;
    margin: 10px 20px;
    margin: 10px 20px 30px;   */
    margin: 10px 20px 30px 40px;
}



