p
{
    color: brown;
    text-align: center;
    line-height: 30px;
}
h1
{
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3
{
    text-align: center;
    color: black;
}
a
{
    text-decoration: none;
    color: green;
}
button
{
    color: black;
}
textarea
{
    color: black;
}
span
{
    text-decoration: underline;
}